<ion-view title="Welcome">
    <ion-content>     
         <div class="row row-center" >
        <div class="col text-center" >
        <img src="http://www.bitnosoft.com/images/Welcome.png">
        </div>
      </div>
            <div class="padding-left padding-right">
              <button class="button button-block  padding-horizontal" ng_click="speech()" type="submit">Speech Fun</button>
	<button class="button button-block padding-horizontal" ng_click="scanBarcode()" type="submit">Barcode Scanner</button>
            </div>
        
    </ion-content>
</ion-view>